<div class="js-permissions-bar permissions-bar"><div class="stripe"></div></div>

<!--input type="text" placeholder="" speech x-webkit-speech /--> <!-- TODO - see if this can be worked with -->
<a class="js-toggle-speech speach-button">
    <div class="microphone-icon-shadow">
        <div class="cardioid"></div>
        <div class="stand">
            <div class="stand-inner"></div>
        </div>
        <div class="stand-base-horizontal"></div>
        <div class="stand-base-vertical"></div>
    </div>
    <div class="microphone-icon">
        <div class="cardioid"></div>
        <div class="stand">
            <div class="stand-inner"></div>
        </div>
        <div class="stand-base-horizontal"></div>
        <div class="stand-base-vertical"></div>
    </div>
</a>
<div class="js-app-window-container"></div>